@model Bastille.Id.Server.Core.Security.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = Resources.ForgotYourPasswordText;
    Layout = "~/Views/Shared/_Landing.cshtml";
}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center align-items-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    @* render the tenant name and logo image specified *@
                    <div class="text-center">
                        @if (!string.IsNullOrWhiteSpace(Model.TenantName))
                        {
                            <div class="row">
                                <div class="tenant-title col-md-6 col-sm-6 ml-auto mr-auto text-center">
                                    <h2 class="title">@Model.TenantName</h2>
                                </div>
                            </div>
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.LoginLogoImageUrl))
                        {
                            <img src="@Model.LoginLogoImageUrl" class="mb-lg-5" />
                        }
                    </div>
                    
                </div>
                <div class="card fat">
                    <div class="card-body">
                        @if (Model.EnableLocalLogin)
                        {
                            <h4 class="card-title">@Resources.ForgotYourPasswordText</h4>
                            <form method="POST" asp-action="ForgotPassword" asp-controller="Account" asp-antiforgery="true" novalidate="">
                                <div class="form-group">
                                    <label asp-for="Email">@Resources.EmailText</label>
                                    <input id="email" type="email" asp-for="Email" placeholder="@Resources.EnterYourEmailAddressText" class="form-control" autofocus="autofocus" autocomplete="email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <div class="form-text text-muted">
                                        @Resources.ForgotPasswordMessageText
                                    </div>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        @Resources.ResetPasswordText
                                    </button>
                                </div>
                                <input type="hidden" asp-for="ReturnUrl" />
                                <input type="hidden" asp-for="TenantName" />
                                <input type="hidden" asp-for="LoginApplicationName" />
                                <input type="hidden" asp-for="LoginLogoImageUrl" />
                            </form>
                            <div class="text-center">
                                <a class="d-block small mt-3" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">@Resources.BackToLoginText</a>
                                @if (!Model.AllowRegistration)
                                {
                                    <a class="d-block small" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">@Resources.RegisterNewAccountText</a>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <strong>@Resources.AuthenticationInvalidRequestErrorTitleText</strong>
                                @Resources.AuthenticationNoSchemesErrorText
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}