@using Microsoft.AspNetCore.Hosting
@model Talegen.Common.Core.Errors.Models.ErrorViewModel<Talegen.Common.Core.Errors.IErrorMessage>
@inject IWebHostEnvironment host
@{
    ViewData["Title"] = Resources.ErrorText;
    Layout = "~/Views/Shared/_Landing.cshtml";
    var errorMessage = Model?.Error?.Message;
    var errorDescription = Model.Development ? Model?.Error?.StackTrace : null;
}

<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center align-items-center h-100">
            <div class="card-wrapper">

                <div class="text-center">
                    <img src="~/img/error-page.svg" />
                </div>

                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">@ViewData["Title"]</h4>
                        <div class="text-center">
                            <div class="alert">
                                <p>@Resources.ErrorDialogText</p>

                                @if (errorMessage != null)
                                {
                                    <strong><em>@errorMessage</em></strong>

                                    if (errorDescription != null)
                                    {
                                        <div>@errorDescription</div>
                                    }
                                }

                                @if (Model.ShowRequestId)
                                {
                                    <div class="request-id">Request Id: @Model.RequestId</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>